<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/game.css') }}">
    <title>Song Guesser</title>
</head>

<body>
    <div id="top-bar">
        <h3>Song Guesser</h3>
        <div id="playlist-display">
            <h4>Playing from: (placeholder name)</h4>
            <img src="https://cdn.discordapp.com/attachments/948823044707713037/1188658375345586207/ramona_cover.jpg?ex=659b5360&is=6588de60&hm=f52d8b7dbddfbe26de219ae8f865af04d607dae80dad74e9e77741ce153f4e92&" width="50" height="50">
        </div>
    </div>

    <div id="game-display">
        <div id="song-number">
            <h2 >Song One</h2> 
        </div>
        <div id="song-container">
            <div id="album-info">
                <img id="album-cover" src={{track_details[0].album_image}}>
                <h3><i>{{track_details[0].album_name}}</i></h3>
            </div>
            <div id="song-info">
                <div id="songname-artists">
                    <h2><q>{{track_details[0].song_name}}</q></h2>
                    <h3>By {{track_details[0].song_artist}}</h3>
                </div>
                <div id="audio-container">
                    <audio id="game-audio" class="audio" controls src={{track_details[0].preview_url}}></audio>
                </div>
            </div>
        </div>
        <div id="tip-container">
            <h3>What does name1 rate this song?</h3>
        </div>
        <div id="rating-container">
            <input type="range" min="0" max="10" value="5" class="slider" id="rating-slider0">
            <span id="rating-number0" class="rating-number">5</span>
        </div>
    </div>

    <div id="game-display">
        <div id="song-number">
            <h2 >Song Two</h2> 
        </div>
        <div id="song-container">
            <div id="album-info">
                <img id="album-cover" src={{track_details[1].album_image}}>
                <h3><i>{{track_details[1].album_name}}</i></h3>
            </div>
            <div id="song-info">
                <div id="songname-artists">
                    <h2><q>{{track_details[1].song_name}}</q></h2>
                    <h3>By {{track_details[1].song_artist}}</h3>
                </div>
                <div id="audio-container">
                    <audio id="game-audio" class="audio" controls src="{{track_details[1].preview_url}}"></audio>
                </div>
            </div>
        </div>
        <div id="tip-container">
            <h3>What does name1 rate this song?</h3>
        </div>
        <div id="rating-container">
            <input type="range" min="0" max="10" value="5" class="slider" id="rating-slider1">
            <span id="rating-number1" class="rating-number">5</span>
        </div>
    </div>

    <div id="game-display">
        <div id="song-number">
            <h2 >Song Three</h2> 
        </div>
        <div id="song-container">
            <div id="album-info">
                <img id="album-cover" src={{track_details[2].album_image}}>
                <h3><i>{{track_details[2].album_name}}</i></h3>
            </div>
            <div id="song-info">
                <div id="songname-artists">
                    <h2><q>{{track_details[2].song_name}}</q></h2>
                    <h3>By {{track_details[2].song_artist}}</h3>
                </div>
                <div id="audio-container">
                    <audio id="game-audio" class="audio" controls src="{{track_details[2].preview_url}}"></audio>
                </div>
            </div>
        </div>
        <div id="tip-container">
            <h3>What does name1 rate this song?</h3>
        </div>
        <div id="rating-container">
            <input type="range" min="0" max="10" value="5" class="slider" id="rating-slider2">
            <span id="rating-number2" class="rating-number">5</span>
        </div>
    </div>

</body>

<script src="{{ url_for('static',filename='scripts/game.js') }}"></script>

</html>
