<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/game.css') }}">
    <title>Song Guesser</title>
</head>

<body>
    <div id="top-bar">
        <h3>Song Guesser</h3>
        <div id="playlist-display">
            <h4>Playing from: (placeholder name)</h4>
            <img src="https://cdn.discordapp.com/attachments/948823044707713037/1188658375345586207/ramona_cover.jpg?ex=659b5360&is=6588de60&hm=f52d8b7dbddfbe26de219ae8f865af04d607dae80dad74e9e77741ce153f4e92&" width="50" height="50">
        </div>
    </div>

    <div id="game-display">
        <div id="song-number">
            <h2 >Song One</h2> 
        </div>
        <div id="song-container">
            <div id="album-info">
                <img id="album-cover" src="https://cdn.discordapp.com/attachments/948823044707713037/1188658375345586207/ramona_cover.jpg?ex=65a48de0&is=659218e0&hm=79557d15eb90d69044f5b531452b94e913550204692728ab1c88a29d64c4f302&">
                <h3><i>Ramona</i></h3>
            </div>
            <div id="song-info">
                <div id="songname-artists">
                    <h2><q>Conversations with Gravity</q></h2>
                    <h3>By Kill Bill: The Rapper</h3>
                </div>
                <div id="audio-container">
                    <audio id="game-audio" class="audio" controls src={{song_urls[0]}}></audio>
                </div>
            </div>
        </div>
        <div id="tip-container">
            <h3>What does name1 rate this song?</h3>
        </div>
        <div id="rating-container">
            <input type="range" min="0" max="10" value="5" class="slider" id="rating-slider0">
            <span id="rating-number0" class="rating-number">5</span>
        </div>
    </div>

    <div id="game-display">
        <div id="song-number">
            <h2 >Song Two</h2> 
        </div>
        <div id="song-container">
            <div id="album-info">
                <img id="album-cover" src="https://cdn.discordapp.com/attachments/948823044707713037/1188658375345586207/ramona_cover.jpg?ex=65a48de0&is=659218e0&hm=79557d15eb90d69044f5b531452b94e913550204692728ab1c88a29d64c4f302&">
                <h3><i>Ramona</i></h3>
            </div>
            <div id="song-info">
                <div id="songname-artists">
                    <h2><q>Conversations with Gravity</q></h2>
                    <h3>By Kill Bill: The Rapper</h3>
                </div>
                <div id="audio-container">
                    <audio id="game-audio" class="audio" controls src="{{song_urls[1]}}"></audio>
                </div>
            </div>
        </div>
        <div id="tip-container">
            <h3>What does name1 rate this song?</h3>
        </div>
        <div id="rating-container">
            <input type="range" min="0" max="10" value="5" class="slider" id="rating-slider1">
            <span id="rating-number1" class="rating-number">5</span>
        </div>
    </div>

    <div id="game-display">
        <div id="song-number">
            <h2 >Song Three</h2> 
        </div>
        <div id="song-container">
            <div id="album-info">
                <img id="album-cover" src="https://cdn.discordapp.com/attachments/948823044707713037/1188658375345586207/ramona_cover.jpg?ex=65a48de0&is=659218e0&hm=79557d15eb90d69044f5b531452b94e913550204692728ab1c88a29d64c4f302&">
                <h3><i>Ramona</i></h3>
            </div>
            <div id="song-info">
                <div id="songname-artists">
                    <h2><q>Conversations with Gravity</q></h2>
                    <h3>By Kill Bill: The Rapper</h3>
                </div>
                <div id="audio-container">
                    <audio id="game-audio" class="audio" controls src="{{song_urls[2]}}"></audio>
                </div>
            </div>
        </div>
        <div id="tip-container">
            <h3>What does name1 rate this song?</h3>
        </div>
        <div id="rating-container">
            <input type="range" min="0" max="10" value="5" class="slider" id="rating-slider2">
            <span id="rating-number2" class="rating-number">5</span>
        </div>
    </div>

</body>

<script src="{{ url_for('static',filename='scripts/game.js') }}"></script>

</html>
