body {
    background-color: rgb(139, 95, 102);
    position: relative;
    text-align: center;
}

h1 {
    color: plum;
    font-size: 75px;
    font-family:fantasy;
    font-variant: small-caps;
}

#playlist-display {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

#top-bar{
    /*make it stay at the top always*/
}